.dashb-body, .createdr-body, .viewraces-body, .joinedraces-body, .cr-body, .pf-body, .updatec-body, .noti-body {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
    height: 90vh;
}

.gen-headerbar {
    grid-area: header;
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically */
    background-color: #333333;
    padding: 0 20px; /* Adds some padding for spacing */
    overflow: hidden; /* Prevents overflow */
}

.gen-headerbar-logo img {
    width: 200px;
    padding: 10px;
    cursor: pointer;
}

.gen-sidebar {
    background-color:#CB8925;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.gen-sidebar ul {
    list-style: none;
    margin: 0%;
    margin-right: 30px;
    padding: 0%;
    width: inherit;
}

.gen-sidebar ul li {
    cursor: pointer;
    text-align: center;
    color: #1C1C1C;
    font-size: 16px;
    padding: 10px;
    transition: all 0.3s;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid #00000000;
    border-top: 1px solid #00000000;
}

.gen-sidebar ul li {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.gen-sidebar ul li:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    font-size: 35px;
    margin-right: 18px;
    margin-top: 5px;
    right: -20px;
}

.gen-sidebar ul li:hover {
    padding-right: 25px;
}

.gen-sidebar ul li:hover:after {
    opacity: 1;
    right: 0;
}

.gen-sidebar ul li:hover {
    background-color: #b76416;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #d0d0d0;
}

.gen-sidebar ul li a {
    text-decoration: none;
    width: 100%; 
    height: 100%; 
    padding: 10px; 
    color: inherit;
    display: block;
}

.pfp-icon, .noti-icon {
    max-width: 25px;
    max-height: 25px;
}

.notification-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 15px; 
    text-transform: uppercase;
    width: 200px;
    padding: 7px 0;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #CB8925;
    background: transparent;
    color: #000000;
    background-color: #fff;
    cursor: pointer;
    position: static;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.notification-button:hover {
    background-color: #CB8925;
    color: #d9d9d9;
}

.header-right {
    display: flex; /* Aligns child elements horizontally */
    align-items: center; /* Centers items vertically */
    gap: 10px; /* Space between profile and notifications */
}

.pfp, .notifications-container {
    margin: 0; /* Remove default margins */
    text-decoration: none;
}