.joinedraces-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) ,url('../styles/img/banner_f.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.joinedraces-main-content {
    grid-area: main;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #00000000;
    overflow-y: auto;
    height: 100%;
    -ms-overflow-style: none;
}

.joinedraces-main-content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.joinedraces-main-content-header h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.joinedraces-main-content::-webkit-scrollbar {
    display: none;
  }

.joinedraces-main-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.errors {
    font-size: 24px;
    color: #000000;
    background-color: #ff8080;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    font: bold;
}

/* .join-card-ye {
    background-color: #ffe59e;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.join-user-name-ye {
    padding: 18px;
}

.join-contents-post-ye {
    padding: 10px;


/* Post Card */
.joinedraces-card {
    background-color: #cecece;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    margin-bottom: 20px;
    transition: 0.3s;
    overflow: hidden;
}

.joinedraces-card a {
    text-decoration: none;
    color: #000;
}

.joinedraces-card-racetitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: 0.3s;
    position: relative;
    color: #1C1C1C;
    transition: 0.3s;
    background-color: transparent;
}

.joinedraces-card .joinedraces-card::before {
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    height: 3px;
    width: 220%;
    background: #1C1C1C;
}

.joinedraces-card-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.joinedraces-card-details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.joinedraces-card-details-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.joinedraces-card-details {
    font-weight: bold;
    font-size: 14px;
}

.joinedraces-icon {
    margin-right: -5px;
    width: 30px;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%
}

.more-button, .join-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 15px; 
    text-transform: uppercase;
    width: 200px;
    padding: 12px 0;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #CB8925;
    background: transparent;
    color: #2c2c2c;
    cursor: pointer;
    position: static;
    overflow: hidden;
    float: right;
    transition: 0.3s;
}

.more-button:hover, .join-button:hover {
    background-color: #CB8925;
    color: #d9d9d9;
}

