/* Body */
.joinedraces-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) ,url('../styles/img/banner_f.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.joinedraces-main-content {
    display: flex;
    grid-area: main;
    flex-direction: column;
    background-color: #00000000;
    overflow-y: hidden;
    height: 100%;
}

.joinedraces-main-content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.joinedraces-main-content-header h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.joinedraces-main-content::-webkit-scrollbar {
    display: none;
  }

.joinedraces-main-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

