* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wholesite {
    /* background-color: bisque; */
    display: flex;
}

.testsite {
    background-color: bisque;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.log {
    background-color: grey;
    background-size: cover;
    width: 600px;
    height: 200px;
    color: white;
}

.reg {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

.rec {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

.crr {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.joinEvents {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 210px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
    height: 100vh;
}

.joinEvents-main-content {
    grid-area: main;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #00000000;
    overflow-y: auto;
    height: 100%;
    -ms-overflow-style: none;
}

.joinEvents-main-content h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 30px;
}

.joinEvents-main-content::-webkit-scrollbar {
    display: none;
}

.join-container-post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.join-ve {
    margin-bottom: 5px;
}

.join-card-ye {
    background-color: #ffe59e;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.join-user-name-ye {
    padding: 18px;
}

.join-contents-post-ye {
    padding: 10px;
}

.errors {
    font-size: 24px;
    color: #000000;
    background-color: #ff8080;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    font: bold;
}

/* Post Card */
.join-card {
    max-width: 1500px;
    background-color: #cecece;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    margin-bottom: 20px;
    transition: 0.3s;
    overflow: hidden;
}

.join-card a {
    text-decoration: none;
    color: #000;
}

.details {
    font-weight: bold;
}

.date-container, .race-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-label, .race-label{
    font-weight: bold;
}
.icon {
    margin-right: -5px;
    width: 30px;
    height: auto;
}

.joinButton {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 15px; 
    text-transform: uppercase;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    margin: 10px 5px;
    border-radius: 25px;
    border: 2px solid #CB8925;
    background: transparent;
    color: #2c2c2c;
    cursor: pointer;
    position: static;
    overflow: hidden;
    transition: 0.3s;
    float: right;
}

.joinButton:hover {
    background-color: #CB8925;
    color: #d9d9d9;
}

