* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wholesite {
    /* background-color: bisque; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.testsite {
    background-color: bisque;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.log {
    background-color: grey;
    background-size: cover;
    width: 600px;
    height: 200px;
    color: white;
}

.reg {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

.rec {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

.crr {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

/* Body */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.landing-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) ,url('../styles/img/banner_f.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
} 

/* header bar */
.nav-bar {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}

.RaceTrack-logo {
    width: 50%;
}

.navbar-buttons {
    list-style-type: none;
    display: inline-block;
    gap: 20px; 
    margin: 25px;
    margin-top: 25px;
}

.navbar-buttons a {
    font-weight: bold;
    font-family: 'Segoe UI';
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    position: relative; /* Added to allow pseudo-element positioning */
}

.navbar-buttons a::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: #CB8925;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar-buttons a:hover::after {
    width: 100%;
}

.button {
    color: #000000;
    border: none;
    padding: 6px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.dasokan {
    display: flex;
}

/* content */

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:  #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto; 
    font-size: 17px;
    font-weight: 180;
    line-height: 25px;
}

.content-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 15px; 
    text-transform: uppercase;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid #CB8925;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


span {
    background: #CB8925;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.content-button:hover span {
    width: 100%;
}

.content-button:hover {
    border: none;
}

/* footer */
/* .footer {
    background-color: #e6ae79;
    padding: 10px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
  
.footer-link {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}
  
.footer-link:hover {
    color: #575655;
}

.group_ab_tos_eula, .contact-us {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.contact-us {
    color: #000000;
    margin-right: 20%;
    width: 80px;
    margin-bottom: 5px;
}

.footer-img-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-image-fb, .footer-image-ig, .footer-image-m {
    width: 40%;
    margin-right: 8px;
} */