* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wholesite {
    background-color: bisque;
    display: flex;
}

.testsite {
    background-color: bisque;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.log {
    background-color: grey;
    background-size: cover;
    width: 600px;
    height: 200px;
    color: white;
}

.reg {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

.rec {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

.crr {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

/* Body */
.whole-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* login form */

body, html {
    height: 100%;
    font-family: 'Helvetica', Arial, sans-serif;
}

.login-logo{
    justify-content: center;
    display: flex;
}

.login-logo img {
    width: 80%;
    max-width: 300px;
    margin-bottom: 50px;
}

.login-form-container {
    background-color: #cea681;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-bottom: 80px;
}

.l-h2 {
    text-align: center;
    font-size: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-top: 10px;
    color: #000000; 
    font-size: 24px;
}

.login-form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
}

.forgot-password-link {
    margin-top: 10px;
    color: #000000; 
    font-size: 24px;
    text-decoration: none;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.login-button {
    background-color: #ffdca7; 
    color: #000000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 24px;
}

.login-button:hover {
    background-color: #000000;
    color: #cea681;
}