@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    font-family: 'Poppins';
}

.wholesite {
    background-color: rgb(255, 255, 255);
    background-size: cover;
}

.testsite {
    background-color: bisque;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.log {
    background-color: grey;
    background-size: cover;
    width: 600px;
    height: 200px;
    color: white;
}

.reg {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

.rec {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

.crr {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

/* Body */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) ,url('../styles/img/banner_f.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Register Form */
.reg-body {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) ,url('../styles/img/banner_f.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh;
}

.reg-container {
    max-width: 900px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.reg-container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.reg-container .title::before {
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    height: 3px;
    width: 50px;
    background: linear-gradient(#CB8925, #fc9700)
}

.reg-container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input, select {
    height: 45px;  
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:hover, select:hover{
    border-color: #ffdfae;
}

.user-details .input-box input:focus, input:valid, select:focus {
    border-color: #fc9700;
}

form .agreements-details .agreements-title {
    display: flex;
    flex-wrap: wrap;
    justify-content:last baseline;
    margin: 20px 0 12px 0;
}

input[type="checkbox"] {
        margin-right: 5px;
        opacity: 1;
        cursor: pointer;
        transition: 0.3s;
    }

.reg-nav-link {
    margin-left: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.reg-nav-link:hover {
    color: #fc9700; 
    text-decoration: underline;
}

.regButton {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 15px; 
    text-transform: uppercase;
    width: 200px;
    padding: 12px 0;
    text-align: center;
    margin: 20px 309px;
    border-radius: 25px;
    border: 2px solid #CB8925;
    background: transparent;
    color: #2c2c2c;
    cursor: pointer;
    position: static;
    overflow: hidden;
    transition: 0.3s;
    float: right;
}

.regButton:hover {
    background-color: #CB8925;
    color: #d9d9d9;
}

.have-acc {
    margin-left: 279px;
}

