* {
    margin: 0;
}

.wholesite {
    background-color: bisque;
    background-size: cover;
}

.testsite {
    background-color: bisque;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.log {
    background-color: grey;
    background-size: cover;
    width: 600px;
    height: 200px;
    color: white;
}

.reg {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

.rec {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

.crr {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    color: white;
}

/* Body */
.whole-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.register-logo {
    justify-content: center;
    display: flex;
}

.register-logo img {
    width: 80%;
    max-width: 300px;
    margin-bottom: 50px;
}

.register-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wholesite {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.have-acc {
    font-size: 24px;
    margin-left: 60px;
}

.register-form-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form-container {
    background-color: #cea681; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    font-size: 24px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 80px;
    width: 700px;
}

.header-form {
    font-size: 40px;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form label {
    margin-top: 10px;
    color: #333;
    width: 100%;
    text-align: left;
    font-size: 24px;
}

.registration-form input, .registration-form select {
    padding: 6px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 24px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: large;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-right: 8px;
}

.usernameStyle {
    display: flex;
    flex-direction: column;
    width: 97%;
}

.usernameStyle {
    font-size: large;
}

.form-group-tos, .form-group-eula {
    display: flex;
    gap: 5px;
    /* margin-top: 5px; */
    margin-left: 30px;
    width: 20%;
}

.form-group-tos label, .form-group-eula label {
    display: flex;
    gap: 5px; 
    white-space: nowrap;
    font-size: 24px;
}

.register-button {
    background-color: #ffdca7; 
    color: #000000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: large;
    margin-bottom: 10px;
    font-size: 24px;
}

.register-button:hover {
    background-color: #000000;
    color: #cea681;
}