.searchbar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
/*hello*/
.search-input {
    display: flex;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 50px;
    width: 847.6px;
    transition: 0.5s;
}
