@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    font-family: 'Poppins';
}
/*hello*/
/* Body */
.reg-body {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) ,url('../styles/img/banner_f.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh;
}

/* Register Form */
.reg-logo {
    width: 30%;
}

.reg-container {
    max-width: 900px;
    max-height: 700px;
    width: 100%;
    background: linear-gradient(#fff, #d9d9d9);
    padding: 40px 45px;
    border-radius: 5px;
}

.reg-container .reg-title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.reg-container .reg-title::before {
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #434343;
}

.reg-container form .reg-user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0 10px 0;
}

form .reg-user-details .reg-input-box {
    margin-bottom: 5px;
    width: calc(100% / 2 - 40px);
}

.reg-user-details .reg-input-box .reg-details {
    display: block;
     font-weight: bold;
    font-weight: 500;
    margin-bottom: 0px;
}

.reg-user-details .reg-input-box input, select {
    height: 45px;  
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.reg-user-details .reg-input-box input:hover, select:hover{
    border-color: #ffdfae;
}

.reg-user-details .reg-input-box input:focus, input:valid, select:focus {
    border-color: #fc9700;
}

form .reg-agreements-details .reg-agreements-title {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 12px 0;
}

input[type="checkbox"] {
        margin-right: 5px;
        opacity: 1;
        cursor: pointer;
        transition: 0.3s;
    }

.reg-nav-link {
    margin-left: 5px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
    color: #2c2c2c;
}

.reg-nav-link:hover {
    color: #fc9700;
}

.reg-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 15px; 
    text-transform: uppercase;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    margin: 10px 309px;
    border-radius: 25px;
    border: 2px solid #CB8925;
    background: transparent;
    color: #2c2c2c;
    cursor: pointer;
    position: static;
    overflow: hidden;
    transition: 0.3s;
    float: right;
}

.reg-button:hover {
    background-color: #CB8925;
    color: #d9d9d9;
}

.reg-misc {
    display: block;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
