* {
    margin: 0;
}

.wholesite {
    background-color: bisque;
    background-size: cover;
}

.log {
    background-color: grey;
    background-size: cover;
}

.reg {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
}

.rec {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
}

.crr {
    background-color: grey;
    background-size: cover;
    margin-top: 20px;
}