* {
    margin: 0;
}

.tos-content-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../styles/img/banner_f.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.tos-container {
    max-width: 800px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 90%;
    overflow-y: auto; 
}

.tos-content {
    height: 100%;
}

.tos-content h1 {
    font-size: 2em;
    color: #d2691e;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.tos-content h2 {
    font-size: 1.5em;
    color: #8b4513;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.tos-content h3 {
    font-size: 1.2em;
    color: #a0522d;
    margin-top: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.tos-content p {
    text-align: justify;
}

.tos-content p {
    margin-bottom: 10px;
    color: #555;
}

.tos-content ul {
    margin: 10px 0 20px 40px;
    color: #555;
}

.tos-content ul li {
    margin-bottom: 5px;
    
}

.part9 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tos-back-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 15px; 
    text-transform: uppercase;
    width: 215px;
    padding: 12px;
    text-align: center;
    margin: 10px;
    border-radius: 25px;
    border: 2px solid #CB8925;
    background: transparent;
    color: #2c2c2c;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
}

.tos-back-button:hover {
    background-color: #CB8925;
    color: #d9d9d9;
}

.tos-container::-webkit-scrollbar {
    display: none;
}

@media (max-width: 600px) {
    .tos-container {
        padding: 15px;
    }

    .tos-content h1 {
        font-size: 1.8em;
    }

    .tos-content h2 {
        font-size: 1.4em;
    }

    .tos-content h3 {
        font-size: 1.1em;
    }
}
